[Desktop Entry]
Version=1.0
Type=Application

Name=tarus Not
Comment=Handwritten notes and sketches, end-to-end encrypted
Comment[tr]=El yazısı not ve eskiz, uçtan uca şifreli
Categories=Office;WordProcessor;

Icon=com.adilhanney.saber
Exec=saber
MimeType=application/sbn;application/sbn2;application/sba
Terminal=false
StartupWMClass=saber
